/domain/target/
/domain/src/main/generated-sources/
/domain/src/test/generated-sources/
/domain/.project
/domain/.classpath
/domain/.settings
/domain/bin/
/domain/.metadata

/ui/target/
/ui/src/main/generated-sources/
/ui/src/test/generated-sources/
/ui/.project
/ui/.classpath
/ui/.settings
/ui/bin/
/ui/.metadata

/Web/target/
/Web/src/main/generated-sources/
/Web/src/test/generated-sources/
/Web/.project
/Web/.classpath
/Web/.settings
/Web/bin/
/Web/.metadata

