<div class="col-xs-3"></div>



<div class="col-xs-6 center-block">

	<div class="panel panel-default">

		<div class="panel-heading">
			<b>Consulta de Recetas</b>
		</div>

		<div class="panel-body">
		
		<!--ACA EMPIEZO A TIRAR CODIGO-->
	
		<div class="row">
			<!--panel 1-->

			 <div style="height:240px; width:40%; float:left; text-align:left; padding:20px;">
      			<b>Nombre</b>
				<br>
				<input name="nombreReceta" size="40" ng-model="filtro.Nombre"><br>
				<br>
				<b>Dificultad</b>
				<br>
				<select
						class="form-control" size="3"
						ng-model="filtro.Dificultad"
						ng-options="dificultad for dificultad in lista_dificultades_sistema">
				</select>
				<br>
				<b>Ingrediente</b>
				<br>
				<input name="ingredienteReceta" size="40" ng-model="filtro.Ingrediente">	<br>
				<br>
  			</div>
			
			<!--panel 2-->


			 <div style="height:240px; width:40%; float:right; text-align:left; padding:20px;">

      			<b>Calorias</b>

				<br>
				<b>    de  </b> <input name="minCalorias" size="8" ng-model="filtro.MinimoCalorias">

				<b>  a  </b> <input name="maxCalorias" size="8" ng-model="filtro.MaximoCalorias">

				<br>
				<br>
				<b>Temporada</b>
				<br>
				<select
						class="form-control" size="4"
						ng-model="filtro.Temporada"
						ng-options="temporada for temporada in lista_temporadas_sistema">
				</select>
				<br>
				<input type="checkbox" name="checkboxAplicarFiltros" ng-model="filtro.Usuario" value="aplicar filtros de perfil de usuario"> Aplicar filtros del perfil de usuario<br>
				<br>

  			</div>
		<!--panel 3-->
		<div align="center" class="col-sm-12">				
		<div class="panel3"> 
			<button ng-click="buscarRecetaPorFiltro()">Buscar</button>
			
			<button ng-click="irAHome()">Volver</button>
		</div>		
		</div>
		</div>	
		
		</div>
		<!--panel 4-->

			<div class="panel-footer">
			<table class="table table-striped table-hover table-condensed example-animate-container">
      		<tbody>
      			<tr>
	        		<th>Nombre</th>
        			<th>Calorias</th>
        			<th>Dificultad</th>
        			<th>Temporadas</th>
      				</tr>
      				<tr data-ng-repeat="receta in lista_recetas_filtradas" class="animate-repeat">
        			<td class="col-xs-3">{{receta.nombre}}</td>
        			<td class="col-xs-2">{{receta.calorias}}</td>
        			<td class="col-xs-2">{{receta.dificultad}}</td>
        			<td class="col-xs-4">{{receta.temporadas}}</td>

        			<!--ROBANDO-->
        			<td nowrap class="col-xs-2">
          			<button type="button" class="btn btn-default" ng-click="seleccionarReceta(receta)" aria-label="Cumplir">
	            		<span class="glyphicon glyphicon-pencil"></span>
          			</button>
          			<button type="button" class="btn btn-default" ng-click="consultarReceta(receta)" aria-label="Cumplir">
	            		<span class="glyphicon glyphicon-search"></span>
          			</button>          			
        			</td>
        			<!--ROBANDO-->

      			</tr>
      		</tbody>
    		</table>
		</div>
	
		<!--ACA TERMINO-->
</div>











