<div class="col-xs-3"></div>

<div class="col-xs-6 center-block">

	<div class="panel panel-default">

		<div class="panel-heading">
			<h2> Las recetas a mostar son : {{ recetas_a_mostar }}</h2>
		</div>

		<div class="panel-body">
			<div class="receta-selector ">
				<div class="form-group">
					<select
						class="form-control"
						id="recetaSeleccionada"
						size="15"
						ng-model = "recetaSeleccionada"
						ng-options="receta.nombre for receta in lista_recetas">
					</select>
				</div>
			</div>
		</div>

		<div class="panel-footer"> 
			<form>
				<div class="form-group">
					<button ng-click="seleccionarReceta()">Ver Receta Seleccionada</button>
					<button ng-click="verUsuario()">Ver Perfil de Usuario</button>
					<button ng-click="verConsultas()">Ver Consultas de Recetas</button>
					<button ng-click="verMonitoreo()">Ver Monitoreo de Recetas</button>
				</div>				
			</form>
		</div>


	</div>
</div>
