<div class="col-xs-3"></div>

<div class="col-xs-6 center-block">

	<div class="panel panel-default">

		<div class="panel-heading">
			<h3>Detalle de receta</h3>
		</div>

		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>{{recetaSeleccionada.nombre}}</h4>
					<p>{{recetaSeleccionada.calorias}} creado por
						{{recetaSeleccionada.usuarioCreador.nombre}}</p>
				</div>
			</div>
			<table style="width: 100%;" class="table table-striped">
				<tr>
					<td style="width: 50%;">
						<h4>Dificultad</h4> <input
						ng-model="recetaSeleccionada.dificultad" ng-readonly="true" />
					</td>
					<td style="width: 50%;">
						<h4>Temporadas</h4> <input
						ng-model="recetaSeleccionada.temporadas" ng-readonly="true" />
					</td>
				</tr>
				<tr>
					<td>
						<h4>Ingredientes</h4>
						<ul class="list-group">
							<li ng-repeat="(key, value) in recetaSeleccionada.ingredientes"
								class="list-group-item"><span>{{key}} - {{value}}</span></li>
						</ul>
						<button ng-click="agregarIngrediente()" ng-readonly="puedeEditar">Agregar</button>
						<button ng-click="eliminarIngrediente()" ng-readonly="puedeEditar">Eliminar</button> 
						<label> Es Favorita? <input type="checkbox" ng-model = "esFavorita" />
					</label>
					</td>
					<td>
						<h4>Condimentos</h4> <input name="nuevoCondimento"
						ng-model="nuevoCondimento">
						<button ng-click="setNuevoCondimento()" ng-readonly="puedeEditar">Agregar</button>
						<ul class="list-group">
							<li ng-repeat="(key, value) in recetaSeleccionada.condimentos"
								class="list-group-item"><span>{{key}} - {{value}}</span></li>
						</ul>
						<button ng-click="eliminarCondimento()" ng-readonly="puedeEditar">Eliminar</button>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><h4>Condiciones preexistentes</h4>
						<p>
							<ul class="list-group">
								<li ng-repeat="value in condicionesPreexistentes"
									class="list-group-item"><span>{{value}}</span></li>
							</ul>
							<button ng-click="actualizarCondicionesPreexistentes()">Actualizar</button>
						</p></td>
				</tr>
				<tr>
					<td colspan="2">
						<h4>Proceso de preparacion</h4>
						<div class="panel panel-default">
							<div class="panel-body">{{recetaSeleccionada.explicacion}}
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div class="panel-footer">
			<form>
				<div class="form-group">
					<button ng-click="actualizarReceta()" ng-readonly="puedeEditar">Actualizar</button>
					<button ng-click="verListaRecetas()">Volver</button>
				</div>
			</form>
		</div>
	</div>
</div>