<div class="col-xs-3"></div>

<div class="col-xs-6 center-block">

	<div class="panel panel-default">

		<div class="panel-heading">
			Perfil de Usuario de : {{ usuario.nombre }} 
		</div>

		<div style="width:100%; text-align:center; height:500px;">
  			
  			<div style="height:350px; width:40%; float:left; text-align:left; padding:20px;">
      			<b>Nombre</b>
				<br> 
				{{ usuario.nombre }}
				<br>
				<b>Complexion</b>
				<br>
				{{ usuario.complexion }}
				<br>
				<b>Preferencias Alimenticias</b>
				<br>
				<select
						class="form-control" size="3"
						ng-model="preferenciaSeleccionada"
						ng-options="preferencia for preferencia in usuario.preferenciasAlimenticias">
				</select>
				<br>
				<b>Condiciones Preexistentes</b>
				<br>
				<select
						class="form-control" size="3"
						ng-model="condicionesSeleccionada"
						ng-options="condiciones for condiciones in usuario.condiciones">

				</select>		
  			</div>
  		
	  		
  			<div style="padding-left: 170px; padding-top:20px; height:350px; width:50%; float:left; text-align:left;">
      			
  				<div>
      				<b>Sexo</b> 
      				<br>
					{{ usuario.sexo }}
					<br>
					<b>Fecha de Nacimiento</b>
					<br>
					{{ usuario.fechaNacimiento | date: 'dd/MM/yyyy' }}
					</div>
				<br>
				<b>Altura</b>
				<br>
				{{ usuario.altura }}				
				<br>
				<b>Peso</b>
				<br>
				{{ usuario.peso }}								
				<br>
				<b>IMC</b>
				<br>
				<span ng-style="{ color : imcColor }">{{ usuario.imc | number : 2 }}</span>								
				<br>
				<b>Comidas que le disgustan</b>
				<br>
				<select
						class="form-control" size="3"
						ng-model="platosSeleccionado"
						ng-options="platos for platos in usuario.platosQueNoLeGustan">

				</select>				
				<br>
				<b>Rutina</b>
				<br>
				{{ usuario.rutina }}					
  			</div>
  			
  			<div style="padding:20px ;clear:both">
  			
  				
	      		<b>Recetas Favoritas </b>
	      		<select
						class="form-control" id="favoritasSeleccionada" size="3"
						ng-model="favoritasSeleccionada"
						ng-options="receta.nombre for receta in usuario.favoritas">
				</select>
  			</div>
		</div>
	
		<div class="panel-footer" style="text-align: center;"> 
			<button ng-click="irAHome()">Volver a Home</button>
		</div>

	</div>
</div>
