<div class="col-xs-3"></div>

<div class="col-xs-6 center-block">

	<div class="panel panel-default">

		<div class="panel-heading">
			<h2> Receta Seleccionada : {{ recetaSeleccionada.nombre }}</h2>
		</div>

		<div class="panel-body">
			 {{recetaSeleccionada.calorias}}
			 <br>
			 {{recetaSeleccionada.dificultad}}
			 <br>
			 {{recetaSeleccionada.temporadas }}
		</div>

		<div class="panel-footer"> 
			<form>
				<div class="form-group">
					<button ng-click="verListaRecetas()">Volver a Lista Recetas</button>
				</div>				
			</form>
		</div>

		
	</div>
</div>
